<div class="filter-by-type">
  <label for="filter-by-type">Filter by type:</label>
  <select id="filter-by-type" [(ngModel)]="eventTypeFilter">
    <option value="">All</option>
    <option value="class">Class</option>
    <option value="competition">Competition</option>
    <option value="party">Party</option>
    <option value="misc">Misc</option>
  </select>
</div>
<div *ngIf="eventTypeFilter == 'class'" class="filter-by-class-level">
  <label for="filter-by-class-level">Filter by type:</label>
  <select id="filter-by-class-level" [(ngModel)]="classLevelFilter">
    <option value="">All</option>
    <option *ngFor="let classLevel of (classLevels$ | async)" [value]="classLevel.classLevelType">
      {{classLevel.name}}
    </option>
  </select>
</div>
<table class="collection-table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Start time</td>
      <td>End time</td>
      <td>Type</td>
      <td>Venue</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let event of (events$ | async)">
      <tr *ngIf="shouldShowEventByFilter(event.type, eventTypeFilter, classLevelFilter)" class="item-row" [class.item-for-deletion]="event.id == deleteId" [class.edited-item]="event.id == editId">
        <td>
          {{event.name}}
        </td>
        <td>
          {{event.startTime * 1000 | date: 'yyyy-MM-dd HH:mm O' : 'Europe/Sofia'}}
        </td>
        <td>
          {{event.endTime * 1000 | date: 'yyyy-MM-dd HH:mm O' : 'Europe/Sofia'}}
        </td>
        <td>
          {{getEventTypeHumanString(event.type)}}
        </td>
        <td>
          {{venues[event.venueId]?.name}}
        </td>
        <td>
          <button (click)="edit(event)">
            Edit
          </button>
        </td>
        <td>
          <button *ngIf="deleteId != event.id" (click)="setForDeletion(event.id)">Delete</button>
          <button *ngIf="deleteId == event.id" (click)="cancelDeletion()">Don't delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div *ngIf="deleteId">
  <button (click)="delete()">Delete selected</button>
  <button (click)="cancelDeletion()">Don't delete</button>
</div>
<div class="new-edit-section">
  <div>
    Event:
  </div>
  <div>
    <label for="type">Type:</label>
    <select id="type" [(ngModel)]="newEditEventType">
      <option value="class">Class</option>
      <option value="competition">Competition</option>
      <option value="party">Party</option>
      <option value="misc">Misc</option>
    </select>
  </div>
  <div>
    <label for="name">Name: </label>
    <input id="name" type="text" [(ngModel)]="newEditEventName">
  </div>
  <!--div>
    <label for="description">Description: </label>
    <textarea id="description" [(ngModel)]="newEditEventDescription"></textarea>
  </div-->
  <div>
    <label for="start-time">Start time: </label>
    <p-calendar id="start-time" [(ngModel)]="newEditStartTime" [locale]="dateLocale" dateFormat="yy-mm-dd" showTime="true" timeFormat="24"></p-calendar>
    <span>({{newEditStartTime.getTime() | date: 'yyyy-MM-dd HH:mm O' : 'Europe/Sofia'}})</span>
  </div>
  <div>
    <label for="end-time">End time: </label>
    <p-calendar id="end-time" [(ngModel)]="newEditEndTime" [locale]="dateLocale" dateFormat="yy-mm-dd" showTime="true" timeFormat="24"></p-calendar>
    <span>({{newEditEndTime.getTime() | date: 'yyyy-MM-dd HH:mm O' : 'Europe/Sofia'}})</span>
  </div>
  <div>
    <label for="venue">Venue: </label>
    <select id="venue" type="text" [(ngModel)]="newEditVenueId">
      <option *ngFor="let venue of (venues$ | async)" [value]="venue.id">
        {{venue.name}}
      </option>
    </select>
  </div>
  <div *ngIf="newEditEventType == 'class'">
    <label for="class-level">Class level:</label>
    <select id="class-level" type="text" [(ngModel)]="newEditClassLevel">
      <option *ngFor="let classLevel of (classLevels$ | async)" [value]="classLevel.classLevelType">
        {{classLevel.name}}
      </option>
    </select>
  </div>
  <div *ngIf="newEditEventType == 'competition'">
    <label for="competition-type">Competition type:</label>
    <select id="competition-type" type="text" [(ngModel)]="newEditCompetitionType">
      <option *ngFor="let competitionType of (competitionTypes$ | async)" [value]="competitionType.competitionType">
        {{competitionType.name}}
      </option>
    </select>
  </div>
  <div *ngIf="newEditEventType == 'class'">
    <label for="instructors">Instructors: </label>
    <p-multiSelect id="instructors" 
      [options]="instructors$ | async" 
      [(ngModel)]="newEditInstructors"
      optionLabel="name">
    </p-multiSelect>
  </div>
  <div>
    <button *ngIf="!editId" (click)="create()">Create</button>
    <button *ngIf="editId" (click)="update()">Save</button>
    <button (click)="resetNewEdit()">Cancel</button>
  </div>
</div>